/* Homepage */

.marquee-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1em 0;
}
.container {
    width: 100%;
}
main {
    padding: 0 1em;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}
p {
    font-size: 18px;
    font-weight: 400;
}

/* Footer */
footer {
    color: #00458b;
    font-weight: 600;
}
footer a{
    color: #00458b;
}
.weather {
    margin: 0 auto;
    border: 3px solid #3fd2c7;
}
.fact h2 {
    color: #00458b;
    text-align: center;
}

.river-called {
    box-shadow: 0 0 30px grey;
    padding: 1em;
    border: 3px solid #3fd2c7;
}
/* Desktop */
@media only screen and (min-width: 32.5em) {
    h1 {
        padding-left: 20px;
    }
    header,
    footer {
        padding: 1.2em 0;
    }
    .background {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 600px;
    }
    .container {
        width: 600px;
        margin: 0 auto;
    }
    /* Fact section */
    .fact {
        display: flex;
        padding: 2em;
    }
    .river-called {
        width: 600px;
    }
    .weather {
        padding: 0 2em;
    }
}
@media only screen and (min-width: 60em) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
}
