.reservation {
    padding: 2em 0;
}

table {
    border-collapse: collapse;
    margin: 2em auto;
    padding: 1em 0;
}

th {
    background-color: #3fd2c7;
    color: #00458b;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

tr:nth-child(even) {
    background: #efefef;
}

tr:hover {
    background: #f5f5f5f5;
}
